.button {
    height: 40px;
    width: 50px;
    border-width: 2px;
    border-color: #000000;
    border-radius: 10px;
    margin: 20px;
}

.displayWindow {
    height: 20px;
    background-color: #ffffff;
    border-width: 2px;
    border-color: #000000;
    text-align: right;
    padding: 10px;
    margin: 10px;
}

.mainBox {
    padding: 5px;
}

.displayArea {
    padding: 5px;
}